header.masthead[b-99cpgfjb8h] {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat;
    background-position: 0px -250px;
    background-color: rgb(0, 0, 0, 0.75);
    background-size: cover;
/*    background-attachment: scroll;
*/    backdrop-filter: opacity(0.5);
    /*background-image: url("images/undecided3.jpg");*/
}

    header.masthead[b-99cpgfjb8h]:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #212529;
        opacity: 0.5;
    }

    header.masthead .page-heading[b-99cpgfjb8h],
    header.masthead .post-heading[b-99cpgfjb8h],
    header.masthead .site-heading[b-99cpgfjb8h] {
        color: #fff;
    }

    header.masthead .page-heading[b-99cpgfjb8h],
    header.masthead .site-heading[b-99cpgfjb8h] {
        text-align: center;
    }

        header.masthead .page-heading h1[b-99cpgfjb8h], header.masthead .page-heading .h1[b-99cpgfjb8h],
        header.masthead .site-heading h1[b-99cpgfjb8h],
        header.masthead .site-heading .h1[b-99cpgfjb8h] {
            font-size: 3rem;
        }

        header.masthead .page-heading .subheading[b-99cpgfjb8h],
        header.masthead .site-heading .subheading[b-99cpgfjb8h] {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.1;
            display: block;
            margin-top: 0.625rem;
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

    header.masthead .post-heading h1[b-99cpgfjb8h], header.masthead .post-heading .h1[b-99cpgfjb8h] {
        font-size: 2.25rem;
    }

    header.masthead .post-heading .meta[b-99cpgfjb8h],
    header.masthead .post-heading .subheading[b-99cpgfjb8h] {
        line-height: 1.1;
        display: block;
    }

    header.masthead .post-heading .subheading[b-99cpgfjb8h] {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.75rem 0 2rem;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    header.masthead .post-heading .meta[b-99cpgfjb8h] {
        font-size: 1.25rem;
        font-weight: 300;
        font-style: italic;
        font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

        header.masthead .post-heading .meta a[b-99cpgfjb8h] {
            color: #fff;
        }

@media (min-width: 992px) {
    header.masthead[b-99cpgfjb8h] {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

        header.masthead .page-heading h1[b-99cpgfjb8h], header.masthead .page-heading .h1[b-99cpgfjb8h],
        header.masthead .site-heading h1[b-99cpgfjb8h],
        header.masthead .site-heading .h1[b-99cpgfjb8h] {
            font-size: 4rem;
        }

        header.masthead .post-heading h1[b-99cpgfjb8h], header.masthead .post-heading .h1[b-99cpgfjb8h] {
            font-size: 3.5rem;
        }

        header.masthead .post-heading .subheading[b-99cpgfjb8h] {
            font-size: 1.875rem;
        }
}
