@* @page "/contact"


@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using UndecidedApp.Pages
@using UndecidedApp.Shared
@addTagHelper *, UndecidedApp

@model ContactModel

@attribute [Authorize]

<component type="typeof(NavMenu)" render-mode="Server" />
<component type="typeof(Header)" render-mode="Server" />


<h1>Contact</h1>

Welcome to the Undecided App


Contact us by calling us....


<h2>Claims</h2>

<dl>
@foreach(var claim in User.Claims)
{
        <dt>@claim.Type</dt>
        <dt>@claim.Value</dt>
}
</dl>


<h2>Properties</h2>

<dl>
    @foreach(var prop in Model.properties)
    {
        <dt>@prop.Key</dt>
        <dt>@prop.Value</dt>
    }
</dl> *@