@inherits LayoutComponentBase

@using UndecidedApp.Shared.Components

<div class="page bg-light bg-opacity-50" style="min-height: 100vh;">

    <div class="main ">
         @* <NavMenu />
        <Header /> *@
        <NewNav/>
        <Hero/>
        <div class="content p-xl-4">
            @Body
        </div>
    </div>
</div>

