@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime    

<div class="page bg-light bg-opacity-50" style="min-height: 100vh;">

    <div class="main">
         <NavMenu />
        <Header />

        <div class="content" style="padding:0 !important;">
            @Body
        </div>
    </div>
</div>

