@inherits LayoutComponentBase

<div class="page bg-light bg-opacity-50" style="min-height: 100vh;">

    <div class="main ">
         <NavMenu />
        <Header />

        <div class="content p-xl-4">
            @Body
        </div>
    </div>
</div>

