@using Microsoft.AspNetCore.Components.Routing
@using UndecidedApp.Data.Models.PostModels


<tr>
    <th scope="row">
        <NavLink href="@($"post/{post?.PostID}")" Match="NavLinkMatch.Prefix" style="text-decoration: none; color: black;">
        @post?.Title
    </NavLink>
    </th>
    <td>@post?.AuthorName</td>
    <td>@post?.PostBody</td>
    <td>@tags.TrimEnd('-')</td>
    <td>@post?.CreatedAt.ToString("dd/MM/yyyy")</td>

</tr>


@code {
    [Parameter]
    public Post? post { get; set; }

    public string tags = String.Empty;

    protected override Task OnInitializedAsync()
    {
        foreach(string tag in post?.Tags)
        {
            tags += tag.ToString() + " -";
        }

        return base.OnInitializedAsync();
    }

}
