<div class="container-fluid" style="min-height: 100vh; background-color: rgba(0,0,0,0.8); color: antiquewhite;">


    <main >
        <h4>About Me</h4>
        <p>
            I am a software developer with a passion for creating web applications. I have experience with C#, JavaScript, and
            SQL. I am currently learning Blazor and I am excited to see what I can create with it.
        </p>


    <section>
        <h4>Projects</h4>
        <ul>
            <li>Project 1</li>
            <li>Project 2</li>
            <li>Project 3</li>
        </ul>
    </section>

    </main>

</div>

@code {

}
