<AuthorizeView>
    <Authorized>
        <a class="nav-link px-lg-3 py-3 py-lg-4" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="logoutBtn nav-link" style="border:none; background:none;">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="Identity/Account/Register">Register</NavLink>
        <NavLink class="nav-link" href="Identity/Account/Login">Log in</NavLink>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <Authorized>
        <NavLink class="nav-link" href="Identity/Account/CreateRole">Create Role</NavLink>
    </Authorized>
</AuthorizeView>
<ThemeSwitch />
