<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span class="description-title">My CV</span>
        <h2>My CV</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>

                <div class="resume-item pb-0">
                    <h4>Daniel Rocha</h4>
                    <p><em> A highly motivated and fast learner with a strong ability to thrive under pressure. I excel in team environments, leveraging logical thinking to solve complex problems efficiently. With a solid foundation in cybersecurity awareness, I bring a vigilant approach to safeguarding information while contributing to a collaborative and secure work culture. </em></p>
                    <ul>
                        <li>Dublin, IRL</li>
                        <li>(+353) 83 0575934</li>
                        <li>d4niel_rocha@icloud.com</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>BSc in Civil Engineering</h4>
                    <h5>2008 - 2012</h5>
                    <p><em>Universide Católica de Petrópolis</em></p>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>BSc in Information Systems and Information Technologies</h4>
                    <h5>2021 - 2025</h5>
                    <p><em>Technological University of Dublin - TU Dublin</em></p>
                </div><!-- Edn Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Software Engineer</h4>
                    <h5>2022-Present</h5>
                    <p><em>TCAS Online, Dublin, IRL </em></p>
                    <ul>
                        <li>Member of R&D team, implementing modern solutions to our platform.</li>
                        <li>Reponsible for on-site penetration testing and security measures on our server.</li>
                        <li>Detect, mitigate and solve issues faced by clients.</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>Bar Manager</h4>
                    <h5>2016 - 2024</h5>
                    <p><em>Marco Pierre White Restaurants - Dublin, IRL</em></p>
                    <ul>
                        <li>Day to Day bar duties</li>
                        <li>Responsible for stock take, purchases, orders and stock rotation.</li>
                        <li>Customer Service</li>
                
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Offshore Oil Equipment Inspector (NDT)</h4>
                    <h5>2008 - 2015</h5>
                    <p><em>Brasitest, Latin America/US</em></p>
                    <ul>
                        <li>NDT inspector – UT / MT / PT / VT / ET – On and Offshore</li>
                        <li>Responsible for designing RT inspection plans for PNA-1 and PNA-2 rigs</li>
                        <li>Part of the team that implemented Offshore and Onshore linked inspections</li>

                    </ul>
                </div><!-- Edn Resume Item -->
            </div>

        </div>

    </div>

</section><!-- /Resume Section -->

@code {

}
